/* navbar styling */
nav, .dropdown-menu {
  background-color: rgb(0, 255, 255);
}

nav a, .dropdown-item {
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(255, 255, 255);
}

nav a.nav-link:hover, .dropdown-item:hover {
  font-weight: bold;
  color: rgb(0, 255, 255);
  background-color: rgb(255, 255, 255);
}

a.page-name, a.page-name:hover {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-right: 5vw;
}

html, body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

/* footer styling */
.push-footer {
  height: 100px; /* at least 75px */
}

#footer {
  background-color: rgb(133, 133, 133);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom:0;
  left:0;
}

.footer-link {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.7em;
  color: rgb(0, 255, 255);
}

.footer-link:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgb(133, 133, 133);
  background-color: rgb(0, 255, 255);
}

/* home page styling */
#home_body {
  background-image: url(/media/logo_orig.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
}

#home_svg {
  opacity: 0.1;
}

#home_svg:hover {
  opacity: 0.8;
}

/* about page styling */
#about-page{
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(133, 133, 133);
}

#about-row, #data-rep {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(240,240,240);
}

.about-title {
  color: rgb(100, 100, 100);
  font-size: 1.5em;
}

#data-rep {
  text-align: center;
}

/* Data page styling */
p[id^='data_have_']:hover {
  color: white;
}

/* contact page styling */
#contact_page {
  width: 95vw;
  margin: 1vw 1vw 1vw 1vw;
  padding: 1vw 1vw 1vw 1vw;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(133, 133, 133);
  background-color: rgb(240,240,240);
}

#contact_submit {
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(240, 240, 240);
  background-color: rgb(133, 133, 133);
}

#contact_submit:hover, #contact_submit:disabled {
  color: rgb(133, 133, 133);
  background-color: #00FFFF;
}

.form-group {
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(100, 100, 100);
  font-size: 1.1em;
}

/* story pages styling */
#story_container {
  position: absolute;
}

#story_not_found_text {
  font-family: Tahoma, Geneva, sans-serif;
  color: #00FFFF;
  font-size: 3em;
}

#story_default_img {
  width: 70vh;
  height: 70vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: image_carousel 24s linear infinite;
    -webkit-animation: image_carousel 24s linear infinite;
    -moz-animation: image_carousel 24s linear infinite;
    -o-animation: image_carousel 24s linear infinite;
    -ms-animation: image_carousel 24s linear infinite;
}

@keyframes image_carousel {
 0% {background-image: url(/media/orbit/pos_1.png)}
 8% {background-image: url(/media/orbit/pos_2.png)}
 17% {background-image: url(/media/orbit/pos_3.png)}
 25% {background-image: url(/media/orbit/pos_4.png)}
 33% {background-image: url(/media/orbit/pos_5.png)}
 42% {background-image: url(/media/orbit/pos_6.png)}
 50% {background-image: url(/media/orbit/pos_7.png)}
 58% {background-image: url(/media/orbit/pos_8.png)}
 67% {background-image: url(/media/orbit/pos_9.png)}
 75% {background-image: url(/media/orbit/pos_10.png)}
 83% {background-image: url(/media/orbit/pos_11.png)}
 92% {background-image: url(/media/orbit/pos_12.png)}
 100% {background-image: url(/media/orbit/pos_1.png)}
}
